<html>
    <head>
        <title>Python</title>
    </head>
    <body>
        <div>
            <h2><a href="/">Notizen</a></h2>
        </div>

        <div>
            <p>published: Jan.2020</p>
            <h3><a href="">My first post</a></h3>
            <p>Great start</p>
        </div>

        <div>
            <p>published: Jan.2020</p>
            <h3><a href="">My second post</a></h3>
            <p>Getting there</p>
        </div>

       <div>
    <body style="background-color:podwerblue";>

        1500 EUR in total
        
        <h4>Flight </h4>
        
        <h5>budget 900 EUR return flights</h5>
        
        <ol>
        <li> Berlin > Manila </li>
        <li> Manila > Chin Mai </li>
        <li> Chin Mai > Berlin </li>
        </ol>
        
         
        <h5> overnight in Manila </h5>
        <ol>
        <li> 
        <a href="https://www.shangri-la.com/en/manila/makatishangrila/offers/"> Makati Shangri-La, Manila </a>
        <li>
        <a href="https://www.marcopolohotels.com/hotels/philippines/manila/marco_polo_manila/index.html">Marco Polo Ortigas </a>
        </ol>

        <h5><a href='http://knowledgetrotter.com/find-courses/thailand/learn-thai-massage/'>learn Thai Massage</a>
        <ol>
        <li><a href='http://www.tmcschool.com/course_date2020.php'>Thai Massage School of Chianmai</a></li>
         
            5 days, 250 EUR 
        <li><a href='http://thaimassageschool.ac.th/course/'> Thai Massage School Shivagakomarpaj & Old Medicine Hospital</a></li>
        
            5 days, 150 EUR

        </ol>
        
        </div>
        
        <img src="https://i.ytimg.com/vi/S0mhvQxvy58/hqdefault.jpg" alt="beach view" width="500" height="300">
        
        </body>
</html>